{
  "openapi": "3.0.1",
  "info": {
    "title": "Lukittu",
    "description": "",
    "version": "1.0.0"
  },
  "tags": [],
  "paths": {
    "/api/v1/client/teams/{teamId}/verification/verify": {
      "post": {
        "summary": "Verify license",
        "deprecated": false,
        "description": "This is the main license verification endpoint. It should be called when your software starts or is activated. Based on the response, take the appropriate action.",
        "tags": [],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "Your team's UUID. You can get this from your team's settings.",
            "required": true,
            "example": "{{$string.uuid}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "licenseKey": {
                    "type": "string",
                    "pattern": "^[A-Z0-9]{5}-[A-Z0-9]{5}-[A-Z0-9]{5}-[A-Z0-9]{5}-[A-Z0-9]{5}$",
                    "description": "License key must be in the format of XXXXX-XXXXX-XXXXX-XXXXX-XXXXX"
                  },
                  "customerId": {
                    "type": "string",
                    "description": "Customer UUID must be a valid UUID",
                    "format": "uuid"
                  },
                  "productId": {
                    "type": "string",
                    "description": "Product UUID must be a valid UUID",
                    "format": "uuid"
                  },
                  "challenge": {
                    "type": "string",
                    "description": "Challenge must not contain spaces and must be less than 1000 characters",
                    "maxLength": 1000,
                    "pattern": "^[A-Za-z0-9]+$"
                  },
                  "version": {
                    "type": "string",
                    "description": "Version must not contain spaces and must be between 3 and 255 characters",
                    "minLength": 3,
                    "maxLength": 255,
                    "pattern": "^[A-Za-z0-9]+$"
                  },
                  "deviceIdentifier": {
                    "type": "string",
                    "description": "Device identifier must not contain spaces and must be between 10 and 1000 characters",
                    "minLength": 10,
                    "maxLength": 1000,
                    "pattern": "^[A-Za-z0-9]+$"
                  }
                },
                "required": ["licenseKey"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "valid": {
                          "type": "boolean"
                        },
                        "details": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "BAD_REQUEST",
                            "RATE_LIMIT",
                            "TEAM_NOT_FOUND",
                            "LICENSE_NOT_FOUND",
                            "IP_BLACKLISTED",
                            "COUNTRY_BLACKLISTED",
                            "DEVICE_IDENTIFIER_BLACKLISTED",
                            "CUSTOMER_NOT_FOUND",
                            "PRODUCT_NOT_FOUND",
                            "RELEASE_NOT_FOUND",
                            "LICENSE_SUSPENDED",
                            "LICENSE_EXPIRED",
                            "IP_LIMIT_REACHED",
                            "MAXIMUM_CONCURRENT_SEATS",
                            "VALID",
                            "INTERNAL_SERVER_ERROR"
                          ]
                        },
                        "challengeResponse": {
                          "type": "string",
                          "description": "Present if challenge was given"
                        }
                      },
                      "required": ["timestamp", "valid", "details", "code"]
                    }
                  },
                  "required": ["result"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        }
                      ],
                      "nullable": true
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"],
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {}
  },
  "servers": [
    {
      "url": "https://app.lukittu.com",
      "description": "Production server"
    }
  ]
}
